* {
	margin: 0;
	padding: 0;
}

.modebar {
	display: none !important;
}

body {
	background-color: #031926;
	color: white;
	margin: 20px;
	font-family: "Poppins", sans-serif;
}

h1 {
	color: #fffffc;
	text-align: center;
	font-size: 1.5em;
}

#lastUpdated {
	text-align: center;
}

#chartCard {
	background-color: #0f0e0e;
	border-radius: 10px;
	padding: 10px;
	margin: 1vmax;
	margin-bottom: 1.5vmax;
}

#content {
	margin: auto;
}

#graphControls {
	margin: 10px;
}

.graphControl {
	margin-left: 1vmax;
	margin-right: 0.5vmax;
	margin-bottom: 10px;
	display: flex;
}

label {
	width: 100px;
}

input,
select {
	flex-grow: 1;
	background-color: #0f0e0e;
	color: whitesmoke;
	border-color: #020e15;
	border-radius: 5px;
}

#autocompleteContainer {
	position: relative;
	display: flex;
	flex-grow: 1;
}

#checkboxContainer {
	flex-grow: 1;
}

input[type="checkbox"] {
	margin-left: 1vmax;
	margin-right: 2vmax;
	align-self: center;
	height: 75%;
	flex: 0;
}

#playerHighlightInputautocomplete-list {
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 5px;
	cursor: pointer;
	background-color: #020e15;
	color: whitesmoke;
}
.autocomplete-items div:hover {
	background-color: #062536;
}
.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: #093650 !important;
	color: #ffffff;
}

#bmc-wbtn {
	top: 18px;
}

#links {
	justify-content: center;
	display: flex;
	margin: 10px;
	height: 42px;
	margin-top: 42px;
}

.circleButton {
	width: 32;
	border-radius: 32px;
	margin-left: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.col {
	display: flex;
	/* flex-direction: column; */
	flex-basis: 100%;
	flex: 1;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
